.col-sm-1 {width: 8.33%;}
.col-sm-2 {width: 16.66%;}
.col-sm-3 {width: 25%;}
.col-sm-4 {width: 33.33%;}
.col-sm-5 {width: 41.66%;}
.col-sm-6 {width: 50%;}
.col-sm-7 {width: 58.33%;}
.col-sm-8 {width: 66.66%;}
.col-sm-9 {width: 75%;}
.col-sm-10 {width: 83.33%;}
.col-sm-11 {width: 91.66%;}
.col-sm-12 {width: 100%;}
.col-sm-13{ width: 20%;}
body {
    padding: 0;
    margin: 0;
}
/*Profil*/
.col-sm-9 .img-responsive {
   padding: 5%;
   -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    border: 5px solid #330011;
    display:inline-block;
    margin:10px;
    margin-left: 9%;
    margin-top: 1%;

}
.image-all {
  padding-left: 22%;
  padding-top: 5%;
}
.col-sm-9 .rating {
  padding-left: 23%;
}


.about-me-form  {
  padding-left: 6%;
  padding-right: 20%;

}
.about-me-form .form-control
{
    border:3px solid;
    border-color: #330011;
}
.about-me-form .form-control input {
  padding: none;
}
.interests-form  {
  padding-left: 6%;
  padding-right: 20%;
}

.interests-form .form-control {
  border:3px solid;
  border-color: #330011;
}

.ovodole {
  padding-top: 20%;
  padding-left: 1%;
}

.profileTopForm {
  padding-top: 2%;
  padding-right: 26%;
}

.profileTopForm label {
  padding-top: 7%;
  padding-left: 15%;
}
.profileTopForm textarea {
  padding-top: 0%;
}

textarea {
  resize:none;
}
.form-group .form-control {
  border:1px solid;
  border-color: #330011;
}


.dugmic1 {
  margin-left: 7%;
  margin-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color:  #956673;
  border: none;
  color: white;
}
.dugmic2 {
  margin-left: 1%;
  margin-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color:  #956673;
  border: none;
  color: white;

}
.col-sm-3 .imageUpload
{
    display: none;
}
/*Edit-sifra*/
.register-button .dugmic {
  margin-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color:  #956673;
  border: none;
  color: white;
}
.col-sm-9 .register-fields {
  padding-left: 50%;
  margin-top:auto;
  padding-top: 2%;
}
.col-sm-9 .register-fields input {
  padding-left: 1%;
}
 .col-sm-9 .register-button {
  margin-left: 50%;
}
.col-sm-9 .register-button h4 {
    padding-left: 50%;
}
/*FAQ*/
.col-sm-12
{
  background-color: #956673;
  color: #f5f5f0;
}
.col-sm-9 .faq  {
padding-left: 5%;

}
.col-sm-9 .about-us {
  padding-left: 5%;

}
.col-sm-9 .faq .dugmic2 {
  margin-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color:  white;
  border: none;
  color: #956673;
  margin-left: auto;
}
/*View-all-groups*/
.zaChat {
    padding-left: 10%;
    padding-top: 5%;
}

.tabelaZaChat {
    border-collapse:separate;
    border-spacing:15px;
    border: solid;
    width: 100%;

}

.redChat {
    padding-top: 10%;
}

.gornjiButton {
  margin-bottom: 2%;

}

.btn {
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color:  #956673;
  border: none;
  color: white;
}
/*Add-new-group*/
.image-all-group {
  margin-left: auto;
}
.group-info label {
  padding-top: 1%;
}
.group-description .dugmic {
  margin-top: 1%;
  margin-left: auto;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color:  #956673;
  border: none;
  color: white;
}
.group-description {
  padding-left: 2%;
  border: 1px;

}


/* CSS talk bubble */
.talk-bubble {
    margin: 20px;
  display: inline-block;
  position: relative;
    width: 100%;
    height: auto;
    background-color: lightblue;
}
.border{
  border: 8px solid #666;
}
.round{
  border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;

}

/* Right triangle placed top left flush. */
.tri-right.border.left-top:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
  left: -40px;
    right: auto;
  top: -8px;
    bottom: auto;
    border: 32px solid;
    border-color: #666 transparent transparent transparent;
}
.tri-right.left-top:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
  left: -20px;
    right: auto;
  top: 0px;
    bottom: auto;
    border: 22px solid;
    border-color: lightblue transparent transparent transparent;
}

/* Right triangle, left side slightly down */
.tri-right.border.left-in:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
  left: -40px;
    right: auto;
  top: 30px;
    bottom: auto;
    border: 20px solid;
    border-color: #666 #666 transparent transparent;
}
.tri-right.left-in:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
  left: -20px;
    right: auto;
  top: 38px;
    bottom: auto;
    border: 12px solid;
    border-color: lightyellow lightyellow transparent transparent;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -8px;
  right: auto;
  top: auto;
    bottom: -40px;
    border: 32px solid;
    border-color: transparent transparent transparent #666;
}
.tri-right.btm-left:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 0px;
  right: auto;
  top: auto;
    bottom: -20px;
    border: 22px solid;
    border-color: transparent transparent transparent lightyellow;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left-in:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 30px;
  right: auto;
  top: auto;
    bottom: -40px;
    border: 20px solid;
    border-color: #666 transparent transparent #666;
}
.tri-right.btm-left-in:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 38px;
  right: auto;
  top: auto;
    bottom: -20px;
    border: 12px solid;
    border-color: lightyellow transparent transparent lightyellow;
}

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right-in:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
  left: auto;
    right: 30px;
    bottom: -40px;
    border: 20px solid;
    border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right-in:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
  left: auto;
    right: 38px;
    bottom: -20px;
    border: 12px solid;
    border-color: lightyellow lightyellow transparent transparent;
}
/*
    left: -8px;
  right: auto;
  top: auto;
    bottom: -40px;
    border: 32px solid;
    border-color: transparent transparent transparent #666;
    left: 0px;
  right: auto;
  top: auto;
    bottom: -20px;
    border: 22px solid;
    border-color: transparent transparent transparent lightyellow;

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
  left: auto;
    right: -8px;
    bottom: -40px;
    border: 20px solid;
    border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
  left: auto;
    right: 0px;
    bottom: -20px;
    border: 12px solid;
    border-color: lightyellow lightyellow transparent transparent;
}

/* Right triangle, right side slightly down*/
.tri-right.border.right-in:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
  left: auto;
    right: -40px;
  top: 30px;
    bottom: auto;
    border: 20px solid;
    border-color: #666 transparent transparent #666;
}
.tri-right.right-in:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
  left: auto;
    right: -20px;
  top: 38px;
    bottom: auto;
    border: 12px solid;
    border-color: lightyellow transparent transparent lightyellow;
}

/* Right triangle placed top right flush. */
.tri-right.border.right-top:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
  left: auto;
    right: -40px;
  top: -8px;
    bottom: auto;
    border: 32px solid;
    border-color: #666 transparent transparent transparent;
}
.tri-right.right-top:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
  left: auto;
    right: -20px;
  top: 0px;
    bottom: auto;
    border: 20px solid;
    border-color: lightyellow transparent transparent transparent;
}

/* talk bubble contents */
.talktext{
  padding: 1em;
    text-align: left;
  line-height: 1.5em;
}
.talktext p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}
.dateTimeNotification{
  text-align: right;
}

#grupe
{
  height: 600px;
  overflow-y: scroll;
}

#back
{
  height: 40px;
  width: 200px;
  font-size: 14px;

}

#create
{
  height: 40px;
  width: 500px;
  font-size: 14px;
  margin-left: 15%;

}

#adminpanelbtn
{
  height: 40px;
  width: 500px;
  font-size: 14px;
  margin-left: 15%;

}

#adminpanelopis
{
  margin-left: 35%;
}
