<div class="container-fluid">
  <div class="row content">
{{side-navigation}}
    <div class="col-sm-9">
      <h4>ADMIN PANEL treba da sadrži opcije: Kreiraj chat, Pregledaj sve korisnike, Pregledaj sve char groupe, Pregledaj sve zahtjeve za ban</h4>
    </div>
  </div>
</div>
