{{outlet}}
<div class="col-sm-12">
  <div class = "col-sm-9">
    <div class="about-us">
      <h2> Who are we? </h2>
      <p> Welcome to "Networking" - a place where you can find people just like you, share your interests and make long-lasting friendships.</p>

    </div>
    <div class="faq">
      <h2>How do I sign up? </h2>
      <p> To create a account: <br>
          *Go to localhost:4200/login.<br>
          *Enter the asked data.<br>
          *Click Sign Up.<br>
          *If you already have a Network account, you can log into your account.<br>
          *Note: you must be at least 13 years old to create a Netowork account.<br>
      </p>
      <h2>How do I login? </h2>
      <p> To log into your Network account: <br>
          *Make sure no one else is logged into Network on your computer. In that case log them out.<br>
          *Go to the top of Networking and enter your email and password.<br>
          *Click Log In.<br>
      </p>
      <h2>How do I change my password? </h2>
      <p> To change your password: <br>
          *Go to your profile (localhost:4200/profil).<br>
          *Click the "Edit Profile" Button<br>
          *Click "Change Password" button.<br>
      </p>
       {{#link-to 'profil'}} <button class="dugmic2" > Back </button>  {{/link-to}}
    </div>
  </div>
</div>
