<div class="container-fluid">
  <div class="row content">
{{side-navigation}}
    <div class="col-sm-9">
      <h4>GRUPE (u koje je ukljucen dati korisnik) treba da sadrži: Pregled svih chat grupa i input za pretragu grupa</h4>
    </div>
  </div>
</div>
