<div class="container-fluid">
  <div class="row content">
{{side-navigation}}
    <div class="col-sm-9">
      <h4><small>INVITE USER</small></h4>
      <table class="table table-striped">
         <thead>
            <tr>
              <th>Username</th>
              <th>Email</th>
              <th>Invite</th>
            </tr>
         </thead>
         <tbody>
            {{#each model.usersToInvite as |osoba|}}
              <tr>
              <td>{{osoba.username}}</td>
     			<td >{{osoba.email }}</td>
              <td><button {{ action 'inviteUser' osoba.username }}>invite</button></td>
              </tr>
            {{/each}}
         </tbody>
      </table>
    </div>

  </div>
</div>
