<div class="container-fluid">
    <div class="row content">
        {{side-navigation}}
        <div class="col-sm-9">
            <div class="zaChat">
                <div class="row content">
                    <div class="gornjiButton">
                        <div class="row">
                            <div class="col-sm-6">
                                {{#link-to 'invites'}}<button class="btn">All chat requests </button> {{/link-to}} 
                            </div>
                            <div class="col-sm-6">
                                <div class="user-search">
                                    <span class="glyphicon glyphicon-search"></span>
                                    {{input placeholder = "Search User" value=model.search}}
                                    <button class="btn">Search </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Username </th>
                                    <th>Full chat</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="redChat">
                                    <td>Arif </td>
                                    <td> <button class="btn">Look</button> </td>
                                </tr>
                                <tr class="redChat">
                                    <td>Edita </td>
                                    <td> <button class="btn">Look</button> </td>
                                </tr>
                                <tr class="redChat">
                                    <td>Andrej </td>
                                    <td> <button class="btn">Look</button> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
