<div class="container-fluid">
  <div class="row content">
{{side-navigation}}
    <div class="col-sm-9">
      <h4>PRIVATNI CHAT treba da sadrži listu svih privatnih chatova (kada se klikne na clan liste otvara se dati chat sa osobom), opciju(dugme) za pregled svih zahtjeva za chat</h4>
    </div>
  </div>
</div>
