<div class="container-fluid">
    <div class="row content">
        {{side-navigation}}
        <div class="col-sm-9">
            <div class="zaChat">
                <div class="row content">
                    <div class="gornjiButton">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="group-search">
                                    <span class="glyphicon glyphicon-search"></span>
                                    {{input placeholder = "Search group" value=model.search}}
                                    <button class="btn">Search </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Group Name </th>
                                    <th>Leave Group </th>
                                    <th>All Messages</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="redChat">
                                    <td> ETF </td>
                                    <td> <button class="btn">Leave</button> </td>
                                    <td> <button class="btn">View</button> </td>
                                </tr>
                                <tr class="redChat">
                                    <td> RI 2</td>
                                    <td> <button class="btn">Leave</button> </td>
                                    <td> <button class="btn">View</button> </td>
                                </tr>
                                <tr class="redChat">
                                    <td>RI 3 </td>
                                    <td> <button class="btn">Leave</button> </td>
                                    <td> <button class="btn">View</button> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
